.module1 {
    width: 100%;

    text-align: center;
    vertical-align: middle;

    font-family: sans-serif;
    color: #444444;


    h1{
        font-size: 20px;
    }


    input{
        margin: auto;
        padding: 10px;
        
        font-size: 20px;
        color: #444444;

        border-radius: 10px;
        border: 1px solid #CCCCCC;

        outline: none;
        text-align: center;
    }

    ul{

        li{
            list-style: none;
            // 
            display: block;
            width: 100%;

            margin: 5px;
            padding: 0;

            overflow: hidden;

            label{
                width: 30%;
                display: block;
                float: left;
                text-align: center;
                margin: auto;
            }
            input{
                width: 30%;
                margin: auto;
            }
        }
    }

}
