<div class="module1">
    <h1>Swim Stats</h1>

    <form ng-submit="StatAddController.addValue(StatAddController.newMeters, StatAddController.newDuration)">
        <input type="text" autofocus ng-model="StatAddController.newMeters" placeholder="meters today...">
        <input type="text" ng-model="StatAddController.newDuration" placeholder="minutes today...">

        <input type="submit" value="Save" />
    </form>

    <linechart data="StatAddController.chart.data" options="StatAddController.chart.options" mode="" width="" height="300"></linechart>


    <!-- <pre>{{StatAddController.chart.data | json}}</pre> -->


    <a href="" ng-click="StatAddController.clearStats()">clear</a>

    <ul>
        <li>
            <label ng-click="StatAddController.changeOrder('date')">Date</label>
            <label ng-click="StatAddController.changeOrder('meters')">Meters</label>
            <label ng-click="StatAddController.changeOrder('duration')">Duration</label>
        </li>
        <li ng-repeat="stat in StatAddController.stats | orderBy:StatAddController.order.value:StatAddController.order.reverse track by stat.id">
            <input type="date" ng-model="stat.date" ng-change="StatAddController.updateStat(stat)" ng-delay="500">
            <input type="text" ng-model="stat.meters" ng-change="StatAddController.updateStat(stat)" ng-delay="500">
            <input type="text" ng-model="stat.duration" ng-change="StatAddController.updateStat(stat)" ng-delay="500">
            <a href="" ng-click="StatAddController.removeStat(stat)">X</a>
        </li>
    </ul>
</div>
